@use "..//scss/variables.scss" as colors;

.stars-rating {
    display: flex;
    @media screen and (width <= 768px){
        width: 98px;
        height: 18px;
      }
    
    .star {
      width: 30px; 
      height: 30px; 
      margin: 0;
      padding: 0;
    }
  
    .grey {
      filter: grayscale(100%);
    }

    .star.active {
        filter: none; /* Réinitialise le filtre pour les étoiles actives */
        fill: #ff5656; /* Couleur rouge pour les étoiles actives */
      }
  }  
  
  
  
  
  